<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>lista Filmes</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<img src="/images/tv.png" alt="logo" width="100" />
			<h1>Lista de Filmes</h1>
			<br />
			<div id="listaFilmes">
				<table class="table table-hover">
					<tr th:each="filme : ${filmes}">
						<td><span th:text="${filme.nome}"></span></td>
					</tr>
				</table>
			</div>
			<div align="center">
				<a href="/filme/cadastrar" class="btn btn-lg btn-primary">Novo Filme</a>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>